<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caratexpense">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CaratApplication"
        android:allowBackup="true"
        android:icon="@drawable/carat_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carat_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaratExpense">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CaratExpense">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.NotificationHelper$NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>